#about-me {
    padding: 100px 20px;
    background-color: #f4f4f4;
  }
  
  #about-me h2 {
    margin-bottom: 1rem;
  }
  
  #about-me p {
    font-size: 1.1rem;
    line-height: 1.6;
  }
  