.about-me-box {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 0px 0px 10px 20px;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 20px;
    fill: white;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.title-box,
.location-box,
.email-box {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

.title-text,
.location-text,
.email-text {
    color: white;
}

.copy-notification {
    position: absolute;
    bottom: 30px;
    left: 0;
    background-color: transparent;
    color: white;
    font-size: 14px;
    opacity: 1;
}