#skills {
    padding: 20px 0;
    width: 33.33%;
    margin: 0 auto;
    box-sizing: border-box;
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.skillsTitle {
    color: #FCECC9;
}

.skills-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-bubble {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 30px;
    font-size: 0.9em;
    color: white;
    border: 1px solid rgba(221, 221, 221, 0.5);
    font-weight: bold;
    transition: all 0.3s ease;
}

.skill-icon {
    font-size: 1.4em; /* Adjust icon size */
}


.skill-bubble:hover {
    transform: scale(1.3);
    background-color: white;
    color: #333;
    border-color: white;
}

@media (max-width: 768px) {
    #skills {
        padding: 20px 10px;
        width: 100%;
    }

    .skills-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .skill-bubble {
        margin: 5px;
        padding: 8px 12px;
    }

    .skillsTitle {
        font-size: 24px;
    }
}